<div class="login-main">
	<div class="card-login">
		<div class="card-header card-header-primary text-center">
			<!-- <h4 class="card-title">Login</h4> -->
			<img src="../assets/img/logo.png" />
		</div>
		<div class="card-body">
			<form #loginForm="ngForm">
				<div class="login-filed">
					<label> Enter Email </label>
					<input type="email" [(ngModel)]="user.userId" name="email" class="form-control" placeholder="Email...">
				</div>
				<div class="login-filed">
					<label> Enter Password </label>
					<input type="password" class="form-control" [(ngModel)]="user.password" name="Password" placeholder="Password...">
				</div>
			</form>
		</div>
		<div class="footer text-center">
			<button href="#pablo" [disabled]="loginForm.invalid" (click)="verifyUser()" class="btn btn-primary btn-link btn-wd btn-lg">Login
			</button>
		</div>
	</div>
</div>