.footer {
    background: #454545;

    nav{
        ul{
            li{
                a {
                    color: white !important;
                }

            }
        }
    }
    .copyright{
        color: white;
    }
}