<div class="container-fluid">




    <section>
        <div class="row">
            <!-- Trips -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="header tittle">
                        <h4 class="">Trips</h4>
                    </div>
                    <div class="content">

                        <div *ngIf="tripsChart.drill" class="slide-main" (click)="drillBackCharts('tripChart', tripsChart.drill)">
                            <div class="slide">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="tripChart" class="ct-chart">
                            <img src="assets/img/loading.gif">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Monthly transactions -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="header tittle">
                        <h4 class="">Vehicle Availablity
                            <select class="pull-right" name="location" id="" [(ngModel)]="locationCode" (ngModelChange)="getVehicleAvailability($event)">
                                <option [value]="loc.code" *ngFor="let loc of locations;">
                                    {{loc.locName}}
                                </option>
                            </select>
                        </h4>
                    </div>
                    <div class="content" *ngIf="vehicleAvailablity.length">
                        <div class="ct-chart">
                            <div class="c2" *ngIf="vehicleAvailablity.length">
                                <div class="text">
                                    <div>{{vehicleAvailablity[2].range}} </div>
                                    <div>{{vehicleAvailablity[2].count}}</div>
                                </div>
                                <div class="c1">
                                    <div class="text">
                                        <div>{{vehicleAvailablity[1].range}} </div>
                                        <div>{{vehicleAvailablity[1].count}}</div>
                                    </div>
                                    <div class="c0">
                                        <div class="text">
                                            <div>{{vehicleAvailablity[0].range}} </div>
                                            <div>{{vehicleAvailablity[0].count}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/loading.gif" *ngIf="!vehicleAvailablity.length">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Violations Chart -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="header tittle">
                        <h4 class="">Violations Chart
                            <select class="pull-right" name="customer" id="" [(ngModel)]="selectedCustomer" (ngModelChange)="getViolationsByCustomer($event)">
                                <option [value]="transporter.custId" *ngFor="let transporter of transporters">{{transporter.custName}}</option>
                            </select>
                        </h4>
                    </div>
                    <div class="content">
                        <div *ngIf="violationsChart.drill" class="slide-main" (click)="drillBackCharts('violationChart', violationsChart.drill)">
                            <div class="slide">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="violationChart" class="ct-chart">
                            <img src="assets/img/loading.gif">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="header tittle">
                        <h4 class="">Fleet Utilization Chart
                            <select class="pull-right" name="customer" id="" [(ngModel)]="Transporter" (ngModelChange)="getFleetUtilizationByCustId(Transporter)">
                                <option [value]="transporter.custId" *ngFor="let transporter of transporters">{{transporter.custName}}</option>
                            </select>
                        </h4>
                    </div>
                    <div class="content">
                        <div *ngIf="fleetUtilizationsChart.drill" class="slide-main" (click)="drillBackCharts('fleetUtilizationChart', fleetUtilizationsChart.drill)">
                            <div class="slide">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div id="fleetUtilizationChart" class="ct-chart">
                            <img src="assets/img/loading.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>